* html .clearfix {
	-ms-zoom: 1;
}
*:first-child + html .clearfix {
	-ms-zoom: 1;
}
.webs-container {
	padding: 10px;
}
.webs-text p {
	padding: 0px;
}
input[type=text] {
	color: rgb(51, 51, 51);
}
input[type=email] {
	color: rgb(51, 51, 51);
}
input[type=password] {
	color: rgb(51, 51, 51);
}
textarea {
	color: rgb(51, 51, 51);
}
.webs-content .fw-message {
	border-color: rgb(245, 163, 216); color: rgb(33, 33, 33); background-color: rgb(251, 223, 241);
}
.webs-content .fw-flash {
	border-color: rgb(245, 163, 216); color: rgb(33, 33, 33); background-color: rgb(251, 223, 241);
}
.webs-content .fw-message h2 {
	color: rgb(217, 24, 149);
}
.webs-content .fw-flash h2 {
	color: rgb(217, 24, 149);
}
.webs-content .fw-message a {
	color: rgb(232, 48, 168);
}
.webs-content .fw-flash a {
	color: rgb(232, 48, 168);
}
.webs-content .fw-message a:hover {
	color: rgb(237, 94, 187);
}
.webs-content .fw-flash a:hover {
	color: rgb(237, 94, 187);
}
.webs-content table.fw-fixed td {
	vertical-align: top;
}
.webs-content .fw-even {
	border-color: rgb(245, 163, 216);
}
.webs-content .webs-body .fw-tabs {
	height: 35px;
}
.webs-content .webs-body .fw-tabs .fw-tab-item {
	background: rgb(217, 24, 149); border-color: rgb(33, 4, 23);
}
.webs-content .webs-body .fw-tabs .fw-tab-item a {
	color: rgb(51, 51, 51);
}
.webs-content .webs-title .pageTitle {
	margin-right: 10px; margin-bottom: 10px !important;
}
.webs-content #fw-menubar_aux {
	border: currentColor !important; border-image: none !important;
}
.webs-content .fw-button {
	background: rgb(217, 24, 149) !important; padding: 0.5em 0.9em !important; border: 1px solid rgba(0, 0, 0, 0.2) !important; border-image: none !important; color: rgb(255, 255, 255) !important; filter: none !important; opacity: 1 !important; box-shadow: inset 0px -2px 1px rgba(0,0,0,0.2), inset 0px 2px 1px rgba(255,255,255,0.2), 0px 1px 1px rgba(0,0,0,0.4);
}
.webs-content .fw-button:hover {
	background: rgb(180, 20, 124) !important;
}
.webs-content .w-button-sb2_default a.w-button {
	background: rgb(217, 24, 149); padding: 0.5em 0.9em; border: 1px solid rgba(0, 0, 0, 0.2); border-image: none; box-shadow: inset 0px -2px 1px rgba(0,0,0,0.2), inset 0px 2px 1px rgba(255,255,255,0.2), 0px 1px 1px rgba(0,0,0,0.4);
}
.webs-content .w-button-sb2_default a.w-button:hover {
	background: rgb(180, 20, 124);
}
.webs-content .w-button-sb2_default a.w-button .w-button-text {
	color: rgb(255, 255, 255);
}
.webs-content .fw-editor-label {
	padding: 5px !important;
}
.webs-content .fw-searchContainer {
	background: none; padding: 4px 0px; border: 0px currentColor; border-image: none; width: 225px; position: relative; -ms-zoom: 1;
}
.webs-content .fw-searchContainer .fw-searchbox {
	width: 100%; float: left;
}
.webs-content2 .fw-searchContainer2 .fw-searchSubmit2 {
	background-position: 50% 50%; border: currentColor; border-image: none; top: 50%; width: 24px; height: 24px; right: -4px; text-indent: -9999px; margin-top: -12px !important; position: absolute; z-index: 1; cursor: pointer; background-image: url("data:image/svg+xml;charset=iso-8859-1, %3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20enable-background%3D%22new%200%200%2016%2016%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Ccircle%20fill%3D%22none%22%20stroke%3D%22%23d91895%22%20stroke-width%3D%222%22%20cx%3D%226.099%22%20cy%3D%226.1%22%20r%3D%224.999%22/%3E%3Cline%20fill%3D%22none%22%20stroke%3D%22%23d91895%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20x1%3D%229.828%22%20y1%3D%229.828%22%20x2%3D%2214.9%22%20y2%3D%2214.9%22/%3E%3C/g%3E%3C/svg%3E"); background-repeat: no-repeat; background-color: transparent;
}
.webs-content .fw-searchContainer::before {
	display: table; content: "";
}
.webs-content .fw-searchContainer::after {
	display: table; content: "";
}
.webs-content .fw-searchContainer::after {
	clear: both;
}
.webs-content #blogFields td {
	padding: 1px 0px;
}
.webs-content .fwcalendar {
	border-collapse: collapse;
}
.webs-content .weekdayHeader {
	border-color: rgb(51, 51, 51);
}
.webs-content :first-child.weekdayHeader {
	border-color: rgb(51, 51, 51);
}
.webs-content :last-child.weekdayHeader {
	border-color: rgb(51, 51, 51);
}
.webs-content .albumTitle {
	display: inline;
}
.webs-content .webs-text .fw-album_meta {
	list-style: none;
}
.webs-content .fw-button-paypal {
	position: relative;
}
.webs-content .fw-button-paypal::after {
	background: url("http://static.websimages.com/rails-static/webstore/images/paypal_24.png") no-repeat left top; margin: -9px 0px 2px; padding: 0px; top: 50%; width: 77px; height: 20px; right: 4px; display: inline-block; position: absolute; content: "";
}
.webs-content .categoryLinks .link {
	list-style-type: none;
}
.webs-content .webs-module-undefined {
	color: rgb(51, 51, 51); line-height: 24px; font-family: "Open Sans", sans-serif; font-size: 16px; font-weight: normal;
}
.webs-content .webs-module-null {
	color: rgb(51, 51, 51); line-height: 24px; font-family: "Open Sans", sans-serif; font-size: 16px; font-weight: normal;
}
.webs-content .webs-module-undefined a {
	color: rgb(51, 51, 51);
}
.webs-content .webs-module-null a {
	color: rgb(51, 51, 51);
}
.webs-content .webs-module-undefined a:hover {
	color: rgb(153, 204, 51);
}
.webs-content .webs-module-null a:hover {
	color: rgb(153, 204, 51);
}
.webs-content .webs-module-undefined .fw-list-grid {
	width: 100%;
}
.webs-content .webs-module-null .fw-list-grid {
	width: 100%;
}
.webs-content .webs-module-undefined .icon-link {
	background-position: 0px 50%; padding-top: 2px; padding-bottom: 2px; padding-left: 20px; background-repeat: no-repeat;
}
.webs-content .webs-module-null .icon-link {
	background-position: 0px 50%; padding-top: 2px; padding-bottom: 2px; padding-left: 20px; background-repeat: no-repeat;
}
.webs-content .webs-module-undefined #item-manage-website a.icon-link {
	background-image: url("http://images.webs.com/static/global/icons/silk/page_edit.png");
}
.webs-content .webs-module-null #item-manage-website a.icon-link {
	background-image: url("http://images.webs.com/static/global/icons/silk/page_edit.png");
}
.webs-content .webs-module-undefined img.fw-photo {
	padding: 2px; border: 1px solid rgb(204, 204, 204); border-image: none; background-color: rgb(255, 255, 255);
}
.webs-content .webs-module-null img.fw-photo {
	padding: 2px; border: 1px solid rgb(204, 204, 204); border-image: none; background-color: rgb(255, 255, 255);
}
.webs-content .webs-module-undefined .fw-list-grid {
	width: 100%;
}
.webs-content .webs-module-null .fw-list-grid {
	width: 100%;
}
.webs-content .webs-module-undefined .fw-list-grid img.fw-profile-pic {
	padding: 2px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 60px !important; height: 60px !important; background-color: rgb(255, 255, 255);
}
.webs-content .webs-module-null .fw-list-grid img.fw-profile-pic {
	padding: 2px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 60px !important; height: 60px !important; background-color: rgb(255, 255, 255);
}
.webs-content .webs-module-undefined .fw-list-list {
	margin: 0px !important; padding: 0px !important; list-style-type: none !important;
}
.webs-content .webs-module-null .fw-list-list {
	margin: 0px !important; padding: 0px !important; list-style-type: none !important;
}
.webs-content .webs-module-undefined .fw-list-list li {
	clear: both;
}
.webs-content .webs-module-null .fw-list-list li {
	clear: both;
}
.webs-content form .whiteBox {
	background: none; color: rgb(217, 24, 149);
}
.webs-content .theme-color-text {
	color: rgb(217, 24, 149);
}
.fw-persistent-cart-header.webs-outer {
	background: rgb(0, 0, 0); margin: -8px -8px 0px; padding: 16px 0px 8px; position: relative; z-index: 100;
}
.fw-persistent-cart-header.webs-outer .fw-pcart-container {
	margin: 0px auto; width: 960px;
}
.fw-persistent-cart-header.webs-outer .fw-pcart-container .fw-pcart-button-container {
	width: 100%; text-align: right; display: inline-block;
}
.fw-persistent-cart-header.webs-outer .fw-pcart-container .fw-pcart-button-container .fw-pcart-button {
	padding: 0.5em 0.9em; border-radius: 3px; border: 1px solid rgba(255, 255, 255, 0.2); transition:background-color 0.3s; border-image: none; color: rgb(255, 255, 255); line-height: 14px; font-family: "Helvetica", Arial, Sans-Serif; font-size: 14px; font-weight: 300; text-decoration: none; display: inline-block; background-color: rgb(217, 24, 149);
}
.fw-persistent-cart-header.webs-outer .fw-pcart-container .fw-pcart-button-container .fw-pcart-button:hover {
	background-color: rgb(233, 59, 172);
}
.ie7 .webs-content .fw-searchContainer .fw-searchSubmit {
	background-image: url("http://static.websimages.com/static/projects/finch/themes/app_search_ie.png");
}
.ie8 .webs-content .fw-searchContainer .fw-searchSubmit {
	background-image: url("http://static.websimages.com/static/projects/finch/themes/app_search_ie.png");
}
.ie9 .webs-content .fw-searchContainer .fw-searchSubmit {
	background-image: url("http://static.websimages.com/static/projects/finch/themes/app_search_ie.png");
}

/*
background: url("http://www.yelmbeautyboutique.com/background.jpg") top rgb(69, 111, 27);
    background-color:black;
*/
body { background-color:black;
       
	 margin: 0px; padding: 0px; color: rgb(51, 51, 51); line-height: 1.5em; font-family: "Open Sans", sans-serif; font-size: 16px;
}
body.noCarousel {
	background-position: 0px -414px;
}
a {
	color: rgb(51, 51, 51);
}
a:link {
	color: rgb(51, 51, 51);
}
a:visited {
	color: rgb(51, 51, 51);
}
a:hover {
	color: rgb(153, 204, 51); text-decoration: none;
}
input[type=text] {
	width: 180px;
}
input[type=email] {
	width: 180px;
}
input[type=password] {
	width: 180px;
}
.webs-title {
	color: rgb(217, 24, 149); line-height: 36px; font-family: "Georgia", serif; font-size: 24px; font-weight: normal;
}
.webs-title a {
	color: rgb(217, 24, 149);
}
.webs-title a:hover {
	color: rgb(217, 24, 149);
}
.w-header-text-container .w-header-title {
	font-family: "Freehand", sans-serif;
}
.w-header-text-container .w-header-subtitle {
	font-family: "Freehand", sans-serif;
}
.webs-text {
	color: rgb(51, 51, 51); line-height: 24px; font-family: "Open Sans", sans-serif; font-size: 16px; font-weight: normal;
}
.w-header-text {
	color: rgb(51, 51, 51); line-height: 24px; font-family: "Open Sans", sans-serif; font-size: 16px; font-weight: normal;
}
input[type=text] {
	color: rgb(51, 51, 51); line-height: 24px; font-family: "Open Sans", sans-serif; font-size: 16px; font-weight: normal;
}
input[type=email] {
	color: rgb(51, 51, 51); line-height: 24px; font-family: "Open Sans", sans-serif; font-size: 16px; font-weight: normal;
}
input[type=password] {
	color: rgb(51, 51, 51); line-height: 24px; font-family: "Open Sans", sans-serif; font-size: 16px; font-weight: normal;
}
textarea {
	color: rgb(51, 51, 51); line-height: 24px; font-family: "Open Sans", sans-serif; font-size: 16px; font-weight: normal;
}
.webs-text a {
	color: rgb(51, 51, 51);
}
.w-header-text a {
	color: rgb(51, 51, 51);
}
input[type=text] a {
	color: rgb(51, 51, 51);
}
input[type=email] a {
	color: rgb(51, 51, 51);
}
input[type=password] a {
	color: rgb(51, 51, 51);
}
textarea a {
	color: rgb(51, 51, 51);
}
.webs-text a:hover {
	color: rgb(153, 204, 51);
}
.w-header-text a:hover {
	color: rgb(153, 204, 51);
}
input[type=text] a:hover {
	color: rgb(153, 204, 51);
}
input[type=email] a:hover {
	color: rgb(153, 204, 51);
}
input[type=password] a:hover {
	color: rgb(153, 204, 51);
}
textarea a:hover {
	color: rgb(153, 204, 51);
}
.w-header-text {
	color: rgb(255, 255, 255); line-height: 24px; font-size: 17px;
}
#footer {
	color: rgb(255, 255, 255); line-height: 24px; font-family: "Open Sans", sans-serif; font-size: 16px; font-weight: normal;
}
#footer .webs-text {
	color: rgb(255, 255, 255); line-height: 24px; font-family: "Open Sans", sans-serif; font-size: 16px; font-weight: normal;
}
#footer input[type=text] {
	color: rgb(255, 255, 255); line-height: 24px; font-family: "Open Sans", sans-serif; font-size: 16px; font-weight: normal;
}
#footer input[type=email] {
	color: rgb(255, 255, 255); line-height: 24px; font-family: "Open Sans", sans-serif; font-size: 16px; font-weight: normal;
}
#footer input[type=password] {
	color: rgb(255, 255, 255); line-height: 24px; font-family: "Open Sans", sans-serif; font-size: 16px; font-weight: normal;
}
#footer textarea {
	color: rgb(255, 255, 255); line-height: 24px; font-family: "Open Sans", sans-serif; font-size: 16px; font-weight: normal;
}
#footer .w-contact_form label {
	color: rgb(255, 255, 255); line-height: 24px; font-family: "Open Sans", sans-serif; font-size: 16px; font-weight: normal;
}
#footer a {
	color: rgb(255, 255, 255);
}
#footer .webs-text a {
	color: rgb(255, 255, 255);
}
#footer input[type=text] a {
	color: rgb(255, 255, 255);
}
#footer input[type=email] a {
	color: rgb(255, 255, 255);
}
#footer input[type=password] a {
	color: rgb(255, 255, 255);
}
#footer textarea a {
	color: rgb(255, 255, 255);
}
#footer .w-contact_form label a {
	color: rgb(255, 255, 255);
}
#footer a:hover {
	color: rgb(255, 255, 255);
}
#footer .webs-text a:hover {
	color: rgb(255, 255, 255);
}
#footer input[type=text] a:hover {
	color: rgb(255, 255, 255);
}
#footer input[type=email] a:hover {
	color: rgb(255, 255, 255);
}
#footer input[type=password] a:hover {
	color: rgb(255, 255, 255);
}
#footer textarea a:hover {
	color: rgb(255, 255, 255);
}
#footer .w-contact_form label a:hover {
	color: rgb(255, 255, 255);
}
#footer thead .webs-table-content {
	color: rgb(51, 51, 51);
}
#footer .webs-title {
	color: rgb(255, 255, 255); line-height: 36px; font-family: "Arial", sans-serif; font-size: 24px; font-weight: normal;
}
#footer .webs-title a {
	color: rgb(255, 255, 255);
}
#footer .webs-title a:hover {
	color: rgb(255, 255, 255);
}
#wrapper {
	margin: 0px auto; width: 980px;
}
#header {
	margin: 0px 20px 0px 0px; width: 980px; height: 150px;
}
.w-header-title {
	color: rgb(255, 255, 255); line-height: 1.2em; font-size: 60px;
}
.w-header-subtitle {
	color: rgb(255, 255, 255); line-height: 1.2em; font-size: 14px;
}
.w-header-area {
	width: 980px; height: 150px;
}
#menu {
	background: rgba(217, 24, 149, 0.7); margin: 0px; height: 60px; clear: both;
}
#filler {
	width: 100%; height: inherit; border-top-color: rgb(242, 242, 242); border-top-width: 6px; border-top-style: solid; display: inline-block;
}
#webs-nav-wrap ul {
	margin: 0px; padding: 0px; width: 700px; height: 39px; float: left; position: absolute; z-index: 2;
}
#webs-nav-wrap ul li {
	list-style: none; margin: 0px; padding: 0px; float: left; display: inline;
}
#webs-nav-wrap ul a {
	padding: 20px 13px 10px; height: 24px; color: rgb(255, 255, 255); text-transform: uppercase; letter-spacing: 1px; font-family: "Open Sans", sans-serif; font-size: 14px; text-decoration: none; border-top-color: rgb(242, 242, 242); border-top-width: 6px; border-top-style: solid; float: left;
}
#webs-nav-wrap ul li.active a {
	color: rgb(255, 255, 255); border-top-color: rgb(217, 24, 149); border-top-width: 6px; border-top-style: solid;
}
#webs-nav-wrap ul a:hover {
	color: rgb(255, 255, 255); border-top-color: rgb(217, 24, 149); border-top-width: 6px; border-top-style: solid;
}
#webs-nav-wrap ul li:hover a {
	color: rgb(255, 255, 255); border-top-color: rgb(217, 24, 149); border-top-width: 6px; border-top-style: solid;
}
#webs-nav-wrap ul li.child-active a {
	color: rgb(255, 255, 255); border-top-color: rgb(217, 24, 149); border-top-width: 6px; border-top-style: solid;
}
#webs-nav-wrap ul li.hover {
	position: relative;
}
#webs-nav-wrap ul li:hover {
	position: relative;
}
#webs-nav-wrap ul li:hover ul {
	display: block;
}
#webs-nav-wrap ul li ul li:hover ul {
	display: block;
}
#webs-nav-wrap ul li.hover ul ul {
	display: none;
}
#webs-nav-wrap ul li:hover ul ul {
	display: none;
}
#webs-nav-wrap ul ul {
	background: rgba(217, 24, 149, 0.85); margin: 0px; padding: 5px 0px; left: 0px; top: 60px; width: auto; height: auto; display: none; position: absolute;
}
#webs-nav-wrap ul ul li:hover a {
	background-color: rgb(234, 63, 174);
}
#webs-nav-wrap ul ul a:hover #webs-nav-wrap ul ul ul a:hover {
	background-color: rgb(234, 63, 174);
}
#webs-nav-wrap ul ul li {
	margin: 0px; padding: 0px 5px; width: inherit !important; height: auto;
}
#webs-nav-wrap ul ul li a {
	border-top-color: currentColor !important; border-top-width: medium !important; border-top-style: none !important;
}
#webs-nav-wrap ul ul li:hover a {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
#webs-nav-wrap ul ul li a {
	background: none; border-width: medium medium 1px; border-style: none none solid; border-color: currentColor currentColor rgb(238, 105, 191); padding: 6px 10px; border-image: none; width: 180px !important; height: auto !important; text-transform: none; line-height: 18px; font-family: "Open Sans", sans-serif; font-size: 12.04px; float: none; display: block; -ms-word-wrap: break-word;
}
#webs-nav-wrap ul ul li:hover ul {
	left: 210px; top: -5px;
}
#webs-nav-wrap ul ul li:hover ul li {
	padding: 0px;
}
#webs-nav-wrap ul ul li:hover ul li a {
	background: none;
}
#webs-nav-wrap ul ul li:hover ul li a:hover {
	background-color: rgb(234, 63, 174);
}
#content_wrapper {
	background: rgb(242, 242, 242);
}
#content_wrapper::after {
	height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: " ";
}
#content {
	margin: 0px auto; padding: 50px 0px 20px; width: 980px;
}
#sidebar {
	width: 255px; color: rgb(51, 51, 51); font-size: 16px;
}
.left_sidebar#sidebar {
	float: left;
}
.right_sidebar#sidebar {
	float: right;
}
#main {
	width: 685px;
}
.left_sidebar#main {
	float: right;
}
.right_sidebar#main {
	float: left;
}
.no_sidebar#main {
	width: 940px;
}
.webs-body {
	min-height: 360px;
}
.webs-sidebar {
	min-height: 360px;
}
.clear {
	clear: both;
}
#footer {
	margin: 0px; clear: both; background-color: rgb(82, 82, 82);
}
#footer .wrapper {
	background: url("//static.websimages.com/static/finchTemplates/backgrounds/textures/5.png"); padding: 5px 0px; min-height: 46px;
}
#footer .wrapper .webs-content {
	margin: 0px auto; width: 980px;
}
.fw-editor td input {
	padding: 2px;
}
* html .clearfix {
	-ms-zoom: 1;
}
*:first-child + html .clearfix {
	-ms-zoom: 1;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
div.webs-align-center {
	margin: 0px auto; display: block;
}
div.webs-align-left {
	float: left;
}
div.webs-align-right {
	float: right;
}
div.webs-frame {
	display: table;
}
div.webs-frame .webs-hasframe {
	margin: 0px; float: none;
}
.webs-bin-active .webs-frame:hover .covering {
	display: none;
}
div.webs-frame-default {
	border: 1px solid rgb(204, 204, 204); border-image: none; background-color: rgb(255, 255, 255);
}
div.webs-frame-default .webs-frame-container {
	margin: 4px; position: relative;
}
div.webs-frame-thickborder {
	background-color: rgb(225, 225, 225);
}
div.webs-frame-thickborder .webs-frame-container {
	margin: 6px; position: relative;
}
div.webs-frame-u_shadow {
	border: 1px solid rgb(204, 204, 204); border-image: none; background-color: rgb(255, 255, 255);
}
div.webs-frame-u_shadow .webs-frame-container {
	margin: 4px; position: relative;
}
div.webs-frame-u_shadow div.webs-frame-shadow {
	left: 0px; width: 100%; height: 3px; bottom: -8px; position: absolute;
}
div.webs-frame-u_shadow div.webs-frame-shadow > span.webs-frame-shadow-tile {
	background: url("../images/frames/u_shadow.png") repeat-x 0px -6px; margin: 0px 50px; height: 100%; display: block;
}
div.webs-frame-u_shadow div.webs-frame-shadow::before {
	background: url("../images/frames/u_shadow.png") 0px 0px; top: 0px; width: 50px; height: 3px; display: block; position: absolute; content: "";
}
div.webs-frame-u_shadow div.webs-frame-shadow::after {
	background: url("../images/frames/u_shadow.png") 0px 0px; top: 0px; width: 50px; height: 3px; display: block; position: absolute; content: "";
}
div.webs-frame-u_shadow div.webs-frame-shadow::before {
	left: 0px;
}
div.webs-frame-u_shadow div.webs-frame-shadow::after {
	background-position: 0px -3px; right: 0px;
}
div.webs-frame-inner_opacity {
	position: relative;
}
div.webs-frame-inner_opacity .webs-frame-top {
	left: 0px; width: 100%; height: 7px; position: absolute;
}
div.webs-frame-inner_opacity .webs-frame-bottom {
	left: 0px; width: 100%; height: 7px; position: absolute;
}
div.webs-frame-inner_opacity .webs-frame-top::after {
	margin: 0px 7px; height: 7px; display: block; content: "";
}
div.webs-frame-inner_opacity .webs-frame-bottom::after {
	margin: 0px 7px; height: 7px; display: block; content: "";
}
div.webs-frame-inner_opacity .webs-frame-top {
	top: 0px;
}
div.webs-frame-inner_opacity .webs-frame-bottom {
	bottom: 0px;
}
div.webs-frame-inner_opacity .webs-frame-left {
	top: 0px; width: 7px; height: 100%; position: absolute;
}
div.webs-frame-inner_opacity .webs-frame-right {
	top: 0px; width: 7px; height: 100%; position: absolute;
}
div.webs-frame-inner_opacity .webs-frame-left {
	left: 0px;
}
div.webs-frame-inner_opacity .webs-frame-right {
	right: 0px;
}
div.webs-frame-inner_opacity-light .webs-frame-top::after {
	background: rgba(255, 255, 255, 0.3);
}
div.webs-frame-inner_opacity-light .webs-frame-bottom::after {
	background: rgba(255, 255, 255, 0.3);
}
div.webs-frame-inner_opacity-light .webs-frame-left {
	background: rgba(255, 255, 255, 0.3);
}
div.webs-frame-inner_opacity-light .webs-frame-right {
	background: rgba(255, 255, 255, 0.3);
}
div.webs-frame-inner_opacity-dark .webs-frame-top::after {
	background: rgba(0, 0, 0, 0.4);
}
div.webs-frame-inner_opacity-dark .webs-frame-bottom::after {
	background: rgba(0, 0, 0, 0.4);
}
div.webs-frame-inner_opacity-dark .webs-frame-left {
	background: rgba(0, 0, 0, 0.4);
}
div.webs-frame-inner_opacity-dark .webs-frame-right {
	background: rgba(0, 0, 0, 0.4);
}
div.webs-frame-double_contrast {
	background-color: rgb(51, 51, 51);
}
div.webs-frame-double_contrast .webs-frame-container1 {
	background: rgb(255, 255, 255); margin: 7px; border: 1px solid rgb(31, 31, 31); border-image: none; position: relative;
}
div.webs-frame-double_contrast .webs-frame-container2 {
	margin: 4px; box-shadow: inset 0px 0px 3px #000000; -moz-box-shadow: inset 0 0 3px #000000; -webkit-box-shadow: inset 0 0 3px #000000;
}
div.webs-frame-paper div.webs-frame-container {
	padding: 6px; border: 1px solid rgb(204, 204, 204); border-image: none; position: relative; background-color: rgb(255, 255, 255);
}
div.webs-frame-paper div.webs-frame-container > div.webs-frame-paper-shade {
	left: 0px; width: 100%; height: 8px; bottom: -8px; position: absolute;
}
div.webs-frame-paper div.webs-frame-container > div.webs-frame-paper-shade > span.webs-frame-paper-tile {
	background: url("../images/frames/papershade.png") repeat-x 0px -8px; margin: 0px 34px; height: 100%; display: block;
}
div.webs-frame-paper div.webs-frame-container > div.webs-frame-paper-shade::before {
	background: url("../images/frames/papershade.png") 0px 0px; top: 0px; width: 34px; height: 8px; display: block; position: absolute; content: "";
}
div.webs-frame-paper div.webs-frame-container > div.webs-frame-paper-shade::after {
	background: url("../images/frames/papershade.png") 0px 0px; top: 0px; width: 34px; height: 8px; display: block; position: absolute; content: "";
}
div.webs-frame-paper div.webs-frame-container > div.webs-frame-paper-shade::before {
	left: 0px;
}
div.webs-frame-paper div.webs-frame-container > div.webs-frame-paper-shade::after {
	background-position: 0px 100%; right: 0px;
}
div.webs-frame-tape {
	background: rgb(255, 255, 255); padding: 6px; position: relative; box-shadow: 0px 1px 4px rgba(0,0,0,0.6);
}
div.webs-frame-tape div.webs-frame-tape-left {
	background: url("../images/frames/tape.png") no-repeat 0px 0px; top: -35px; width: 100px; height: 100px; position: absolute; z-index: 1;
}
div.webs-frame-tape div.webs-frame-tape-right {
	background: url("../images/frames/tape.png") no-repeat 0px 0px; top: -35px; width: 100px; height: 100px; position: absolute; z-index: 1;
}
div.webs-frame-tape div.webs-frame-tape-left-container {
	position: absolute;
}
div.webs-frame-tape div.webs-frame-tape-right-container {
	position: relative;
}
div.webs-frame-tape div.webs-frame-tape-left {
	left: -35px;
}
div.webs-frame-tape div.webs-frame-tape-right {
	background-position: 100% 0px; right: -35px;
}
div.webs-frame-album {
	background: url("../images/frames/album-noise.png") 0px 0px rgb(113, 120, 159); padding: 20px 15px 20px 43px; border-radius: 3px; border: 1px solid rgba(0, 0, 0, 0.3); border-image: none; position: relative; box-shadow: inset 30px 1px 1px rgba(255,255,255,0.5), inset -1px -1px 0px rgba(0,0,0,0.1), 4px 4px 0px rgba(0,0,0,0.5), 3px 3px 0px rgba(0,0,0,0.15), 2px 2px 0px rgba(0,0,0,0.15), 1px 1px 0px rgba(0,0,0,0.15);
}
div.webs-frame-album div.webs-frame-album-bind {
	background: url("../images/frames/album-binder.png") repeat-y 0px 0px rgb(34, 34, 34); left: 0px; top: 0px; width: 30px; height: 100%; position: absolute;
}
div.webs-frame-album div.webs-frame-album-container {
	outline: rgb(51, 51, 51) solid 1px; border: 1px solid rgb(170, 170, 170); border-image: none; box-shadow: 0px 0px 4px #000;
}
div.webs-frame-thumbtack {
	background: rgb(255, 255, 255); padding: 15px; border: 1px solid rgb(170, 170, 170); border-image: none; position: relative;
}
div.webs-frame-thumbtack div.webs-frame-thumbtack-pin {
	background: url("../images/frames/thumbtack.png") no-repeat 0px 0px; left: 50%; top: -29px; width: 31px; height: 40px; margin-left: -10px; position: absolute;
}
div.webs-frame-thumbtack div.webs-frame-thumbtack-container {
	outline: rgb(136, 136, 136) solid 1px; border: 1px solid rgb(170, 170, 170); border-image: none;
}
div.webs-frame-photocorners {
	background: rgb(255, 255, 255); padding: 6px; border: 1px solid rgb(39, 53, 49); border-image: none; position: relative;
}
div.webs-frame-photocorners div.webs-frame-pc-all {
	background: url("../images/frames/photo-corners.png") no-repeat 0px 0px; width: 50px; height: 50px; position: absolute; z-index: 1;
}
div.webs-frame-photocorners div.webs-frame-pc-tl {
	background-position: 0px 0px; left: -4px; top: -4px;
}
div.webs-frame-photocorners div.webs-frame-pc-tr {
	background-position: 100% 0px; top: -4px; right: -4px;
}
div.webs-frame-photocorners div.webs-frame-pc-bl {
	background-position: 0px 100%; left: -4px; bottom: -4px;
}
div.webs-frame-photocorners div.webs-frame-pc-br {
	background-position: 100% 100%; right: -4px; bottom: -4px;
}
.w-header-layer {
	position: absolute;
}
.webs-frame .w-header-layer {
	position: static;
}
.w-header-text {
	width: auto; white-space: nowrap;
}
.w-header-layer-delete {
	display: none;
}
.w-header-layer-overlap {
	display: none;
}
.w-header-layer-align-left .w-header-text {
	text-align: left;
}
.w-header-layer-align-right .w-header-text {
	text-align: right;
}
.w-header-layer-centered {
	left: 50%; right: auto;
}
.w-header-layer-centered .w-header-layer-container {
	left: -50%; position: relative;
}
.w-header-layer-align-center .w-header-text {
	text-align: center;
}
.w-header-layer-image .w-header-image {
	width: 100%; height: 100%;
}
#webs-header .webs-container {
	padding: 0px;
}
.webs-content-header .webs-container {
	padding: 0px;
}
.w-spacer-default.webs-container {
	padding: 0px;
}
.map_canvas {
	width: 80%; height: 200px;
}
.webs-hasframe.map_canvas {
	float: none;
}
.map_canvas .w-get-directions {
	font: bold 12px "Helvetica Neue", helvetica, arial; padding: 5px 10px; border-radius: 2px; border: 1px solid rgb(48, 121, 237); border-image: none; right: 10px; bottom: 20px; color: white; display: inline-block; position: absolute; z-index: 20; cursor: pointer; font-size-adjust: none; font-stretch: normal; background-color: rgb(73, 138, 243);
}
.webs-title {
	line-height: normal;
}
.webs-title-align-left.webs-title {
	text-align: left;
}
.webs-title-align-right.webs-title {
	text-align: right;
}
.webs-title-align-center.webs-title {
	text-align: center;
}
.webs-title-align-justify.webs-title {
	text-align: justify;
}
.webs-title .w-text {
	display: block; -ms-word-wrap: break-word;
}
.webs-title-has_icon.webs-title .w-text {
	display: inline;
}
.w-contact_form {
	
}
.w-contact_form .w-contact_form-container {
	position: relative;
}
.w-contact_form .w-contact_form-container .error-message {
	background: white; font: 14px/normal sans-serif; left: 0px; top: 0px; width: 100%; text-align: center; color: rgb(87, 87, 87); visibility: hidden; position: absolute; font-size-adjust: none; font-stretch: normal;
}
.w-contact_form .w-contact_form-container .success-message {
	background: white; font: 14px/normal sans-serif; left: 0px; top: 0px; width: 100%; text-align: center; color: rgb(87, 87, 87); visibility: hidden; position: absolute; font-size-adjust: none; font-stretch: normal;
}
.w-contact_form .w-contact_form-container .error-message a {
	color: inherit; text-decoration: underline;
}
.w-contact_form .w-contact_form-container .error-message .error-icon {
	margin: auto auto 10px; width: 47px; height: 42px; background-image: url("//members.webs.com/s/modules/contact_form/v1.34/images/error_icon.png");
}
.w-contact_form .w-contact_form-container .success-message .success-icon {
	margin: auto auto 10px; width: 43px; height: 48px; background-image: url("//members.webs.com/s/modules/contact_form/v1.34/images/form_success_check.png");
}
.w-contact_form .success.w-contact_form-container form {
	visibility: hidden;
}
.w-contact_form .success.w-contact_form-container .success-message {
	visibility: visible;
}
.w-contact_form .failure.w-contact_form-container form {
	visibility: hidden;
}
.w-contact_form .failure.w-contact_form-container .error-message {
	visibility: visible;
}
.w-contact_form .w-contact_form-li {
	margin-bottom: 10px;
}
.w-contact_form .w-contact_form-li label {
	font-weight: bold;
}
.w-contact_form .w-contact_form-li label.required::after {
	content: " *";
}
.w-contact_form .w-contact_form-li label.required::after {
	content: " *";
}
.w-contact_form .w-contact_form-li .w-contact_form-input .w-contact_form-field {
	padding: 3px 6px; border-radius: 3px; border: 1px solid rgb(219, 219, 219); border-image: none; width: 90%; max-width: 400px; box-shadow: inset 0px 2px 1px rgba(0,0,0,0.25); -moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.25); -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.25); -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.w-contact_form .w-contact_form-li .w-contact_form-input textarea.w-contact_form-field {
	height: 84px;
}
.w-contact_form .w-contact_form-li .w-contact_form-input input.w-contact_form-field {
	max-width: 300px;
}
.w-contact_form .w-contact_form-li .w-contact_form-input ul.w-contact_form-options {
	
}
.w-contact_form .w-contact_form-li .w-button {
	margin: 0px;
}
.w-contact_form .w-contact_form-submit {
	left: -20000px; position: absolute;
}
.w-contact_form .w-button {
	cursor: pointer;
}
.w-contact_form ul.w-contact_form-ul {
	line-height: 22px;
}
.w-contact_form table.w-contact_form-label-left {
	width: 100%;
}
.w-contact_form table.w-contact_form-label-left tr.w-contact_form-li td.w-contact_form-label {
	padding-right: 17px; padding-bottom: 8px; vertical-align: top; -ms-word-wrap: break-word; min-width: 80px; max-width: 20%;
}
.w-contact_form table.w-contact_form-label-left tr.w-contact_form-li td.w-contact_form-input {
	width: 80%; padding-bottom: 15px;
}
.w-contact_form table.w-contact_form-label-left tr.w-contact_form-li td.w-contact_form-input > input {
	width: 85%;
}
.w-contact_form table.w-contact_form-label-left tr.w-contact_form-li td.w-contact_form-input textarea {
	width: 85%;
}
.w-contact_form table.w-contact_form-label-left tr.w-contact_form-li td.w-contact_form-input > textarea {
	max-width: 400px;
}
.w-contact_form table.w-contact_form-label-left tr.w-contact_form-li td.w-contact_form-input > input {
	max-width: 300px;
}
.w-contact_form .error .w-contact_form-ul .error-item > label {
	border-color: red; color: red;
}
.w-contact_form .error .w-contact_form-ul .error-item > .w-contact_form-label > label {
	border-color: red; color: red;
}
.w-contact_form .error .w-contact_form-ul .error-item input {
	border-color: red; color: red;
}
.w-contact_form .error .w-contact_form-ul .error-item textarea {
	border-color: red; color: red;
}
.webs-image-wrapper-1 {
	display: inline-block; position: relative;
}
.webs-image-crop {
	width: 100%; height: 100%; overflow: hidden; position: relative;
}
.webs-image-crop img {
	width: 100%;
}
.webs-module-image .webs-align-left {
	font-size: 0px;
}
.webs-module-image .webs-align-center {
	font-size: 0px;
}
.webs-module-image .webs-align-right {
	font-size: 0px;
}
.webs-image-left {
	width: auto; float: left; display: block;
}
.webs-image-right {
	width: auto; float: right; display: block;
}
.webs-image-center {
	margin: 0px auto; float: none; display: block;
}
.w-image-default--height_broken-SITEBUILDER-1938 .lightbox-link {
	transition:opacity 1s ease-in; -webkit-transition: opacity 1s ease-in; -moz-transition: opacity 1s ease-in; -o-transition: opacity 1s ease-in;
}
.w-image-default--height_broken-SITEBUILDER-1938 .lightbox-link::before {
	font: 900 60px/1em sans-serif; left: 0px; top: 50%; width: 100%; height: 100%; text-align: center; color: white; margin-top: -33px; display: block; position: absolute; z-index: 2; content: "+"; font-size-adjust: none; font-stretch: normal; opacity: 0;
}
.w-image-default--height_broken-SITEBUILDER-1938 .lightbox-link::after {
	background: black; font: 900 30px/1em sans-serif; left: 0px; top: 0px; width: 100%; height: 100%; text-align: center; color: white; text-indent: -9999px; display: block; position: absolute; z-index: 1; content: "+"; font-size-adjust: none; font-stretch: normal; opacity: 0;
}
.w-image-default--height_broken-SITEBUILDER-1938 .lightbox-link:hover {
	width: 500%; text-decoration: none;
}
.w-image-default--height_broken-SITEBUILDER-1938 .lightbox-link:hover::before {
	opacity: 0.8;
}
.w-image-default--height_broken-SITEBUILDER-1938 .lightbox-link:hover::after {
	opacity: 0.3;
}
.w-button-container {
	display: block; position: relative; max-width: 100%;
}
.hidden.w-button-container {
	display: none;
}
.webs-align-left.w-button-container {
	text-align: left; float: none;
}
.webs-align-center.w-button-container {
	text-align: center;
}
.webs-align-right.w-button-container {
	text-align: right; float: none;
}
.w-button-container .w-button-align {
	display: inline-block; max-width: 100%;
}
.w-button-container .webs-align-center.w-button-align {
	margin: auto;
}
.w-button-container .w-button {
	font: 700 14px/normal sans-serif; padding: 5px; border-radius: 6px; border: 1px solid black; border-image: none; color: rgb(255, 255, 255); text-transform: none; text-decoration: none; display: block; position: relative; font-size-adjust: none; font-stretch: normal; text-shadow: 0px 1px 2px #565656; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.w-button-container .w-button .w-button-inner {
	position: relative;
}
.w-button-container .w-button .w-button-inner .w-button-text-wrapper {
	position: relative;
}
.w-button-container .w-button .w-button-inner .w-button-text-wrapper .w-button-text {
	text-align: center; position: relative; -ms-word-wrap: break-word;
}
.w-button-container .w-button-icon.w-button .w-button-inner .w-button-icon-wrapper {
	left: 0px; top: 50%; width: 100%; display: inline-block; position: absolute;
}
.w-button-container .w-button-icon.w-button .w-button-inner .w-button-icon-wrapper .w-button-icon-icon {
	top: -8px; position: absolute;
}
.w-button-container .w-button-icon-set-boolean.w-button-icon.w-button {
	min-height: 16px;
}
.w-button-container .w-button-icon-set-boolean.w-button-icon.w-button .w-button-icon-wrapper .w-button-icon-icon {
	top: -8px; width: 16px; height: 16px;
}
.w-button-container .w-button-icon-set-boolean.w-button-icon.w-button .w-button-text-wrapper .w-button-text {
	padding-top: 0px; padding-bottom: 0px;
}
.w-button-container .w-button-icon-pos-left.w-button-icon-set-boolean.w-button-icon.w-button .w-button-inner .w-button-text-wrapper .w-button-text {
	margin-left: 24px;
}
.w-button-container .w-button-icon-pos-left.w-button-icon-set-boolean.w-button-icon.w-button .w-button-inner .w-button-icon-wrapper .w-button-icon-icon {
	left: 0px;
}
.w-button-container .w-button-icon-pos-right.w-button-icon-set-boolean.w-button-icon.w-button .w-button-inner .w-button-text-wrapper .w-button-text {
	margin-right: 24px;
}
.w-button-container .w-button-icon-pos-right.w-button-icon-set-boolean.w-button-icon.w-button .w-button-inner .w-button-icon-wrapper .w-button-icon-icon {
	right: 0px;
}
.w-button-container .w-button-icon-set-classy.w-button-icon.w-button {
	min-height: 24px;
}
.w-button-container .w-button-icon-set-classy.w-button-icon.w-button .w-button-icon-wrapper .w-button-icon-icon {
	top: -12px; width: 24px; height: 24px;
}
.w-button-container .w-button-icon-set-classy.w-button-icon.w-button .w-button-text-wrapper .w-button-text {
	padding-top: 0px; padding-bottom: 0px;
}
.w-button-container .w-button-icon-pos-left.w-button-icon-set-classy.w-button-icon.w-button .w-button-inner .w-button-text-wrapper .w-button-text {
	margin-left: 32px;
}
.w-button-container .w-button-icon-pos-left.w-button-icon-set-classy.w-button-icon.w-button .w-button-inner .w-button-icon-wrapper .w-button-icon-icon {
	left: 0px;
}
.w-button-container .w-button-icon-pos-right.w-button-icon-set-classy.w-button-icon.w-button .w-button-inner .w-button-text-wrapper .w-button-text {
	margin-right: 32px;
}
.w-button-container .w-button-icon-pos-right.w-button-icon-set-classy.w-button-icon.w-button .w-button-inner .w-button-icon-wrapper .w-button-icon-icon {
	right: 0px;
}
.w-button-container .w-button-icon-set-fatcow.w-button-icon.w-button {
	min-height: 32px;
}
.w-button-container .w-button-icon-set-fatcow.w-button-icon.w-button .w-button-icon-wrapper .w-button-icon-icon {
	top: -16px; width: 32px; height: 32px;
}
.w-button-container .w-button-icon-set-fatcow.w-button-icon.w-button .w-button-text-wrapper .w-button-text {
	padding-top: 8px; padding-bottom: 8px;
}
.w-button-container .w-button-icon-pos-left.w-button-icon-set-fatcow.w-button-icon.w-button .w-button-inner .w-button-text-wrapper .w-button-text {
	margin-left: 40px;
}
.w-button-container .w-button-icon-pos-left.w-button-icon-set-fatcow.w-button-icon.w-button .w-button-inner .w-button-icon-wrapper .w-button-icon-icon {
	left: 0px;
}
.w-button-container .w-button-icon-pos-right.w-button-icon-set-fatcow.w-button-icon.w-button .w-button-inner .w-button-text-wrapper .w-button-text {
	margin-right: 40px;
}
.w-button-container .w-button-icon-pos-right.w-button-icon-set-fatcow.w-button-icon.w-button .w-button-inner .w-button-icon-wrapper .w-button-icon-icon {
	right: 0px;
}
.w-button-container .w-button-icon-set-fugue.w-button-icon.w-button {
	min-height: 16px;
}
.w-button-container .w-button-icon-set-fugue.w-button-icon.w-button .w-button-icon-wrapper .w-button-icon-icon {
	top: -8px; width: 16px; height: 16px;
}
.w-button-container .w-button-icon-set-fugue.w-button-icon.w-button .w-button-text-wrapper .w-button-text {
	padding-top: 0px; padding-bottom: 0px;
}
.w-button-container .w-button-icon-pos-left.w-button-icon-set-fugue.w-button-icon.w-button .w-button-inner .w-button-text-wrapper .w-button-text {
	margin-left: 24px;
}
.w-button-container .w-button-icon-pos-left.w-button-icon-set-fugue.w-button-icon.w-button .w-button-inner .w-button-icon-wrapper .w-button-icon-icon {
	left: 0px;
}
.w-button-container .w-button-icon-pos-right.w-button-icon-set-fugue.w-button-icon.w-button .w-button-inner .w-button-text-wrapper .w-button-text {
	margin-right: 24px;
}
.w-button-container .w-button-icon-pos-right.w-button-icon-set-fugue.w-button-icon.w-button .w-button-inner .w-button-icon-wrapper .w-button-icon-icon {
	right: 0px;
}
.w-button-container .w-button-icon-set-rocky.w-button-icon.w-button {
	min-height: 16px;
}
.w-button-container .w-button-icon-set-rocky.w-button-icon.w-button .w-button-icon-wrapper .w-button-icon-icon {
	top: -8px; width: 16px; height: 16px;
}
.w-button-container .w-button-icon-set-rocky.w-button-icon.w-button .w-button-text-wrapper .w-button-text {
	padding-top: 0px; padding-bottom: 0px;
}
.w-button-container .w-button-icon-pos-left.w-button-icon-set-rocky.w-button-icon.w-button .w-button-inner .w-button-text-wrapper .w-button-text {
	margin-left: 24px;
}
.w-button-container .w-button-icon-pos-left.w-button-icon-set-rocky.w-button-icon.w-button .w-button-inner .w-button-icon-wrapper .w-button-icon-icon {
	left: 0px;
}
.w-button-container .w-button-icon-pos-right.w-button-icon-set-rocky.w-button-icon.w-button .w-button-inner .w-button-text-wrapper .w-button-text {
	margin-right: 24px;
}
.w-button-container .w-button-icon-pos-right.w-button-icon-set-rocky.w-button-icon.w-button .w-button-inner .w-button-icon-wrapper .w-button-icon-icon {
	right: 0px;
}
.w-carousel .bldr-carousel-placeholder .bldr-image-zoomer {
	display: none;
}
.w-carousel .bldr-carousel-placeholder img {
	height: 2000px; display: block; visibility: hidden;
}
.w-carousel .bldr-placeholder-element {
	width: 100%; height: 100%;
}
.w-carousel .bldr-placeholder-element::before {
	width: 50px; height: 50px; margin-top: -25px; margin-left: -25px; background-image: url("//members.webs.com/s/modules/carousel/v1.36/images/placeholder.png");
}
.w-carousel .bldr-placeholder-element::after {
	margin-top: 12px; content: attr(data-placeholder-text);
}
.w-carousel-default .w-carousel-indices {
	display: none;
}
.w-carousel-default .hide_description .w-carousel-description {
	display: none;
}
.w-carousel-default .hide_title .w-carousel-title {
	display: none;
}
.w-carousel-default .hide_text .w-carousel-text {
	display: none;
}
.w-carousel-default .hide_button .w-carousel-button {
	display: none;
}
.w-carousel-default .single_slide .w-carousel-next {
	display: none;
}
.w-carousel-default .single_slide .w-carousel-prev {
	display: none;
}
.w-carousel-default .single_slide .w-carousel-indices {
	display: none;
}
.w-carousel-default .w-carousel {
	height: 188px; position: relative;
}
.w-carousel-default .w-carousel .w-carousel-list-wrapper {
	width: 100%; height: 100%; position: relative;
}
.w-carousel-default .w-carousel-transitioning.w-carousel .w-carousel-list-wrapper {
	overflow: hidden;
}
.w-carousel-default .w-carousel .w-carousel-list {
	margin: 0px; padding: 0px; height: 100%;
}
.w-carousel-default .w-carousel .w-carousel-list li {
	margin: 0px; padding: 0px; width: 100%; height: 100%; display: none; list-style-type: none; position: absolute;
}
.w-carousel-default .w-carousel .w-carousel-list li.active {
	display: block;
}
.w-carousel-default .w-carousel .w-carousel-list li.incoming {
	left: 0px; top: 0px; display: block; position: absolute;
}
.w-carousel-default .w-carousel .w-carousel-list li.outgoing {
	left: 0px; top: 0px; display: block; position: absolute;
}
.w-carousel-default .w-carousel .w-carousel-list li .webs-image-crop {
	width: 100%; height: 100%; overflow: hidden; position: relative;
}
.w-carousel-default .w-carousel-slide {
	height: 100%; overflow: hidden; position: relative;
}
.w-carousel-default .w-carousel-description {
	background: rgb(255, 255, 255); padding: 10px; top: 20px; width: 300px; right: 20px; position: absolute; box-shadow: 0px 2px 4px #000000; -moz-box-shadow: 0 2px 4px #000000; -webkit-box-shadow: 0 2px 4px #000000;
}
.w-carousel-default .w-carousel-image {
	height: 100%; position: relative;
}
.w-carousel-default .w-carousel-image img {
	left: 0px; top: 0px; position: absolute;
}
.w-carousel-default .w-carousel-title {
	font: 500 21px/normal "myriad pro", "helvetica"; color: rgb(6, 69, 96); margin-bottom: 5px; font-size-adjust: none; font-stretch: normal;
}
.w-carousel-default .w-carousel-text {
	padding: 0px;
}
.w-carousel-default .w-carousel-prev {
	background: url("//static.websimages.com/static/projects/finch/images/carousel_back_forward.png") no-repeat 0px 0px; left: 20px; width: 23px; height: 22px; bottom: 20px; text-indent: -9999px; position: absolute;
}
.w-carousel-default .w-carousel-prev:focus {
	
}
.w-carousel-default .w-carousel-next {
	background: url("//static.websimages.com/static/projects/finch/images/carousel_back_forward.png") no-repeat 0px bottom; left: 50px; width: 23px; height: 22px; bottom: 20px; text-indent: -9999px; position: absolute;
}
.w-carousel-default .w-carousel-next:focus {
	
}
* html .clearfix {
	-ms-zoom: 1;
}
*:first-child + html .clearfix {
	-ms-zoom: 1;
}
.w-email_list-solved_default .w-email_list label {
	color: rgb(51, 51, 51); line-height: 24px; font-family: "Open Sans", sans-serif; font-size: 16px; font-weight: bold;
}
.w-email_list-solved_default .w-email_list-li .w-email_list-field {
	border-color: rgb(179, 179, 179); border-radius: 0px; color: rgb(51, 51, 51); font-size: 16px; box-shadow: inset 0px 0px 4px #e5e5e5; -moz-box-shadow: inset 0 0 4px #e5e5e5; -webkit-box-shadow: inset 0 0 4px #e5e5e5; -moz-border-radius: 0px; -webkit-border-radius: 0px;
}
.w-email_list-solved_default .w-email_list-textarea > .w-email_list-input .w-email_list-field {
	min-height: 100px;
}
* html .clearfix {
	-ms-zoom: 1;
}
*:first-child + html .clearfix {
	-ms-zoom: 1;
}
#carousel-wrapper {
	background: rgb(242, 242, 242); padding: 0px; width: 980px;
}
.w-carousel-solved_default .w-carousel {
	width: auto; z-index: 1;
}
.w-carousel-solved_default .w-carousel .w-carousel-list-wrapper {
	z-index: 0;
}
.w-carousel-solved_default .w-carousel .w-carousel-list {
	float: left;
}
.w-carousel-solved_default .w-carousel .webs-image-crop {
	width: 100%; height: 100%; position: absolute;
}
.w-carousel-solved_default .w-carousel .w-carousel-description {
	background: rgba(217, 217, 217, 0.75); top: auto; width: 940px; right: 0px; bottom: 0px; position: absolute; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
.w-carousel-solved_default .w-carousel .w-carousel-title {
	color: rgb(255, 255, 255); line-height: 40px; font-family: "Georgia", serif; font-size: 40px; font-weight: normal; text-shadow: 0px 1px 1px #8c8c8c;
}
.w-carousel-solved_default .w-carousel .w-carousel-text {
	color: rgb(255, 255, 255); line-height: 24px; font-family: "Open Sans", sans-serif; font-size: 13px;
}
.w-carousel-solved_default .w-carousel-next {
	background: rgba(242, 242, 242, 0.8); border-radius: 28px; left: 14px; top: 50%; width: 28px; height: 28px; text-indent: 0px; margin-bottom: -14px; z-index: 2; -moz-border-radius: 28px; -webkit-border-radius: 28px;
}
.w-carousel-solved_default .w-carousel-prev {
	background: rgba(242, 242, 242, 0.8); border-radius: 28px; left: 14px; top: 50%; width: 28px; height: 28px; text-indent: 0px; margin-bottom: -14px; z-index: 2; -moz-border-radius: 28px; -webkit-border-radius: 28px;
}
.w-carousel-solved_default .w-carousel-next span {
	background: url("//dynamic.websimages.com/s/themes/solved/v1.55/images/slider_arrows.png") no-repeat 0px 0px; left: 8px; top: 6px; width: 9px; height: 15px; text-indent: -9999px; display: block; position: absolute;
}
.w-carousel-solved_default .w-carousel-prev span {
	background: url("//dynamic.websimages.com/s/themes/solved/v1.55/images/slider_arrows.png") no-repeat 0px 0px; left: 8px; top: 6px; width: 9px; height: 15px; text-indent: -9999px; display: block; position: absolute;
}
.w-carousel-solved_default .w-carousel-next {
	left: auto; right: 14px;
}
.w-carousel-solved_default .w-carousel-next span {
	background: url("//dynamic.websimages.com/s/themes/solved/v1.55/images/slider_arrows.png") no-repeat 0px -15px; left: 10px;
}
* html .clearfix {
	-ms-zoom: 1;
}
*:first-child + html .clearfix {
	-ms-zoom: 1;
}
.w-button-solved_default .w-button {
	border-width: 0px; padding: 8px 16px; border-radius: 5px; color: rgb(255, 255, 255); font-family: "Georgia", serif; font-size: 15px; font-weight: normal; background-color: rgb(217, 24, 149); -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
* html .clearfix {
	-ms-zoom: 1;
}
*:first-child + html .clearfix {
	-ms-zoom: 1;
}
.w-contact_form-solved_default .w-contact_form label {
	color: rgb(51, 51, 51); line-height: 24px; font-family: "Open Sans", sans-serif; font-size: 16px; font-weight: bold;
}
.w-contact_form-solved_default .w-contact_form-li > .w-contact_form-input .w-contact_form-field {
	border-color: rgb(179, 179, 179); border-radius: 0px; color: rgb(51, 51, 51); font-size: 16px; box-shadow: inset 0px 0px 4px #e5e5e5; -moz-box-shadow: inset 0 0 4px #e5e5e5; -webkit-box-shadow: inset 0 0 4px #e5e5e5; -moz-border-radius: 0px; -webkit-border-radius: 0px;
}
.w-contact_form-solved_default .w-contact_form-textarea > .w-contact_form-input .w-contact_form-field {
	min-height: 100px;
}

